[mcu can0]
canbus_uuid = 6d51d5b0d85e

[board_pins can0]
mcu = can0
aliases =
aliases_2209 =
        EXT_EN=gpio14,EXT_STEP=gpio7,EXT_DIR=gpio6,EXT_UART=gpio15,EXT_DIAG=
aliases_endstop =
        LIMIT_0=gpio20,LIMIT_1=gpio16
aliases_probe =
        PROBE_1=gpio22,PROBE_2=gpio24
aliases_cnc_fans =
        FAN0=gpio13,FAN1=gpio21
aliases_thermistors =
        TH0=gpio27,PT100=gpio17,TC0=
aliases_heaters =
        HE0=gpio23
aliases_rgb =
        RGBLED=gpio26
aliases_spi =
        MOSI=gpio3,MISO=gpio4,SCK=gpio2

## EXTRUDER 
[extruder]
step_pin: can0:EXT_STEP
dir_pin: can0:EXT_DIR
enable_pin: !can0:EXT_EN
rotation_distance: 47.6413232614382
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
max_extrude_cross_section: 5
pressure_advance: 0.045
pressure_advance_smooth_time: 0.040
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: can0:HE0
sensor_type:MAX31865
sensor_pin: can0:PT100
#pullup_resistor: 1000
spi_software_mosi_pin: can0:MOSI
spi_software_miso_pin: can0:MISO
spi_software_sclk_pin: can0:SCK
rtd_nominal_r: 1000
rtd_reference_r: 4300
rtd_num_of_wires: 2
min_extrude_temp: 0
min_temp: -50
max_temp: 350
#pid_Kp: 29.126
#pid_Ki: 1.312
#pid_Kd: 161.648

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: can0:EXT_UART
stealthchop_threshold: 0
run_current: 0.55
sense_resistor: 0.110
interpolate: False
uart_address: 00

[autotune_tmc extruder]
#motor: moons-cse14hra1l410a
motor: ldo-36sth20-1004ahg
tuning_goal: performance

[temperature_sensor T0_can_board]
sensor_type = temperature_mcu
sensor_mcu = can0

[lis2dw T0]
cs_pin: can0:gpio12
spi_software_sclk_pin: can0:SCK
spi_software_mosi_pin: can0:MOSI
spi_software_miso_pin: can0:MISO

#[input_shaper]
#shaper_freq_x: 55.2 # center frequency for the X axis filter
#shaper_type_x: mzv # filter type for the X axis
#shaper_freq_y: 37 # center frequency for the Y axis filter
#shaper_type_y: mzv # filter type for the Y axis
#damping_ratio_x: 0.085 # damping ratio for the X axis
#damping_ratio_y: 0.055 # damping ratio for the Y axis


## HOT END FAN
[heater_fan T0_hotend_fan]
pin: can0:FAN1
tachometer_pin: ^can0:LIMIT_1
tachometer_ppr: 2
hardware_pwm: false
max_power: 1
tachometer_poll_interval: 0.0011
cycle_time: 0.02
off_below: 0.95
heater: extruder
heater_temp: 50.0

## PART COOLING
[fan_generic T0_partfan]
pin: can0:FAN0
kick_start_time: 0.25
cycle_time: 0.010
off_below: 0.10

[gcode_macro T0]
variable_color: ""
gcode:
  SELECT_TOOL T=0

[tool T0]
tool_number: 0
extruder: extruder
fan: T0_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
params_type: 'sc'
#This is the path the tool change takes. Shouldn't have to change it. Unless
#you are using a custom dock
params_sc_path: [{'y':9.5 ,'z':4}, {'y':9.5, 'z':2}, {'y':5.5, 'z':0}, {'z':0, 'y':0, 'f':0.5}, {'z':-10, 'y':0}, {'z':-10, 'y':16}]
#These are build specific, its where the tool is sititng in it's dock.
params_park_x: 28
params_park_y: -71.0
params_park_z: 381.0
params_safe_y: 20.0
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: 'mzv'
params_input_shaper_freq_x: 62.4
params_input_shaper_damping_ratio_x: 0.01
params_input_shaper_type_y: 'mzv'
params_input_shaper_freq_y: 88.6
params_input_shaper_damping_ratio_y: 0.01

[tool_probe T0]
pin: ^can0: PROBE_1
tool: 0
x_offset: 0
y_offset: 0
z_offset: -1.400
speed: 5
#lift_speed: 50
#drop_first_result: True
samples:3
samples_result: median
sample_retract_dist: 2
samples_tolerance: 0.02
samples_tolerance_retries: 3
activate_gcode:
    _TAP_PROBE_ACTIVATE HEATER=extruder

#[settling_probe]
#settling_sample: True
#sample_count: 1
