[temperature_fan MCU_FAN]
sensor_type: temperature_mcu
sensor_mcu: mcu
pin: PA8
max_temp: 50.0
target_temp: 45.0
min_temp: 20.0
shutdown_speed: 0.0
kick_start_time: 0.5
cycle_time: 0.12
off_below: 0.55
max_speed: 1.0
min_speed: 0.5
control: pid
pid_Kp: 100
pid_Ki: 5
pid_Kd: 0.2


#####################################################################
#   Bed Heater
#####################################################################

##  SSR Pin - HE1
##  Thermistor - TB
[heater_bed]
heater_pin: PA3
sensor_type: Generic 3950
sensor_pin: PF3
max_power: 0.8
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 39.535
#pid_ki: 1.757
#pid_kd: 222.387

[fan_generic bed_fans]
pin: PE5
kick_start_time: 0.5

[fan_generic filter]
pin: PA2
kick_start_time: 0.5
