[printer]
kinematics: corexy
max_velocity: 720  
max_accel: 3000 #9000
#max_x_accel: 6000
#max_y_accel: 3000
#scale_xy_accel: True
max_z_velocity: 90 #30          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 500 #350
square_corner_velocity: 10.0