[mcu cartographer] # See https://www.klipper3d.org/Config_Reference.html#mcu
# Remove either the serial or canbus_uuid line dependant on your setup.
serial: /dev/serial/by-id/usb-Cartographer_614e_0E0032001443303856303820-if00
restart_method: command


[cartographer]
mcu: cartographer
x_offset: 0
y_offset: 36.35
#backlash_comp: 0.5
#sensor: cartographer
#sensor_alt: carto
#mode: scan
#mesh_runs: 2
verbose: yes

[lis2dw cartographer]
cs_pin: cartographer:PA3
spi_bus: spi1


[temperature_sensor cartographer]
sensor_type: temperature_mcu
sensor_mcu: cartographer
min_temp: 5
max_temp: 105

[gcode_macro CARTOGRAPHER_TOUCH_WITH_TOOL_OFFSET]
gcode:
  CARTOGRAPHER_TOUCH
  _ADJUST_Z_POSITION_WITH_TOOL_OFFSET

[gcode_macro _ADJUST_Z_POSITION_WITH_TOOL_OFFSET]
gcode:
  {% set tool_name = printer.toolchanger.tool %}
  {% if tool_name %}
    {% set offset = printer[tool_name].gcode_z_offset %}
    SET_KINEMATIC_POSITION Z={printer.toolhead.position.z + offset}
  {% endif %}