[mcu hexa]
canbus_uuid = c3a52d316ca3

[board_pins hexa]
mcu = hexa
aliases =
    # IO1..IO6: (Signal, and low-side MOSFET “GND control”)
aliases_io1 =
    GND1=PA10,SIGNAL1=PC13
aliases_io2 =
    GND2=PB7,SIGNAL2=PB6
aliases_io3 =
    GND3=PB5,SIGNAL3=PB4
aliases_io4 =
    GND4=PB3,SIGNAL4=PA14
aliases_io5 =
    GND5=PA15,SIGNAL5=PA9
aliases_io6 =
    GND6=PA8,SIGNAL6=PB15
aliases_pwr24v =
    # Per-channel 24V rails (must be ON for that IO channel)
    PWR1=PB14,PWR2=PB13,PWR3=PB12,PWR4=PB2,PWR5=PB10,PWR6=PB11
aliases_ios =
    # General-purpose IO7..IO14
    IO7=PB1,IO8=PB0,IO9=PA7,IO10=PA6,IO11=PA5,IO12=PA4,IO13=PC14,IO14=PC15
aliases_adc =
    # Analog inputs
    ADC1=PA0,ADC2=PA1,ADC3=PA2,ADC4=PA3
aliases_can =
    # CAN pins (for reference)
    CAN_RX=PB8, CAN_TX=PB9
    
[output_pin io1_as_ground]
pin: hexa:GND1
value: 1

[output_pin io2_as_ground]
pin: hexa:GND2
value: 1

[output_pin io5_as_ground]
pin: hexa:GND5
value: 1

[output_pin io6_as_ground]
pin: hexa:GND6
value: 1
