[mcu can0]
canbus_uuid = 6d51d5b0d85e

[board_pins can0]
mcu = can0
aliases =
aliases_2209 =
        EXT_EN=gpio14,EXT_STEP=gpio7,EXT_DIR=gpio6,EXT_UART=gpio15,EXT_DIAG=
aliases_endstop =
        LIMIT_0=gpio20,LIMIT_1=gpio16
aliases_probe =
        PROBE_1=gpio22,PROBE_2=gpio24
aliases_cnc_fans =
        FAN0=gpio13,FAN1=gpio21
aliases_thermistors =
        TH0=gpio27,PT100=gpio17,TC0=
aliases_heaters =
        HE0=gpio23
aliases_rgb =
        RGBLED=gpio26
aliases_spi =
        MOSI=gpio3,MISO=gpio4,SCK=gpio2

## EXTRUDER 
[extruder]
step_pin: can0:EXT_STEP
dir_pin: can0:EXT_DIR
enable_pin: !can0:EXT_EN
rotation_distance: 47.6413232614382 #47.088
gear_ratio: 9:1
microsteps: 16
full_steps_per_rotation: 200 #1.8deg Motor
max_extrude_only_distance: 1400.0
max_extrude_only_velocity: 75.0
max_extrude_only_accel: 1500
max_extrude_cross_section: 5
pressure_advance: 0.045
pressure_advance_smooth_time: 0.040
nozzle_diameter: 0.4
filament_diameter: 1.750
heater_pin: can0:HE0
sensor_type: ATC Semitec 104GT-2
sensor_pin: can0:TH0 #can0:PT100
#pullup_resistor: 1000
#spi_software_mosi_pin: can0:MOSI
#spi_software_miso_pin: can0:MISO
#spi_software_sclk_pin: can0:SCK
#rtd_nominal_r: 1000
#rtd_reference_r: 4300
#rtd_num_of_wires: 2
min_extrude_temp: 0
min_temp: -50
max_temp: 350
control: pid
pid_Kp: 27.032
pid_Ki: 2.048
pid_Kd: 89.207

## EXTRUDER MOTOR
[tmc2209 extruder]
uart_pin: can0:EXT_UART
stealthchop_threshold: 0
interpolate: False
run_current: 0.6
sense_resistor: 0.110
#uart_address: 00
#driver_TBL: 1
#driver_TOFF: 3 # 41.7Khz max chopper frequency
#driver_HSTRT: 7
#driver_HEND: 7

[autotune_tmc extruder]
motor: ldo-36sth20-1004ahg-9T
tuning_goal: silent

[temperature_sensor CAN0_can_board]
sensor_type = temperature_mcu
sensor_mcu = can0

[lis2dw CAN0]
cs_pin: can0:gpio12
spi_software_sclk_pin: can0:SCK
spi_software_mosi_pin: can0:MOSI
spi_software_miso_pin: can0:MISO
axes_map: -y,z,-x

#[input_shaper]
#shaper_freq_x: 55.2 # center frequency for the X axis filter
#shaper_type_x: mzv # filter type for the X axis
#shaper_freq_y: 37 # center frequency for the Y axis filter
#shaper_type_y: mzv # filter type for the Y axis
#damping_ratio_x: 0.085 # damping ratio for the X axis
#damping_ratio_y: 0.055 # damping ratio for the Y axis


## HOT END FAN
[heater_fan CAN0_hotend_fan]
pin: can0:FAN1
tachometer_pin: ^can0:LIMIT_0
tachometer_ppr: 2
hardware_pwm: false
max_power: 1
tachometer_poll_interval: 0.0009 #0.0011
cycle_time: 0.02
off_below: 0.95
heater: extruder
heater_temp: 50.0

## PART COOLING
[fan_generic CAN0_partfan]
pin: can0:FAN0
kick_start_time: 0.25
cycle_time: 0.010
off_below: 0.10


[tool CAN0]
tool_number: 0
detection_pin: ^can0: PROBE_1
extruder: extruder
fan: fan_generic CAN0_partfan
gcode_x_offset: 0
gcode_y_offset: 0
gcode_z_offset: 0
params_park_x: 2.5
params_park_y: 25.3
params_park_z: 337.9
params_close_y: 58
params_safe_y: 145
#resonance_chip: lis2dw CAN0
# For InputShaper run per tool and enter the frequency here
params_input_shaper_type_x: '2hump_ei'
params_input_shaper_freq_x: 51.8
params_input_shaper_damping_ratio_x: 0.222
params_input_shaper_type_y: 'ei'
params_input_shaper_freq_y: 39.2
params_input_shaper_damping_ratio_y: 0.211

#[tool_probe T0]
#pin: ^can0: PROBE_1
#tool: 0
#x_offset: 0
#y_offset: 0
#z_offset: -0.850 #-0.800 #-0.76 #-0.995 #-1 #-1.060 #-1.51 #-1.465 # -1.590
#speed: 10
#lift_speed: 20
#drop_first_result: True
#samples:3
#samples_result: median
#sample_retract_dist: 2
#samples_tolerance: 0.02
#samples_tolerance_retries: 3
#activate_gcode:
#    _TAP_PROBE_ACTIVATE HEATER=extruder

#[filament_switch_sensor SFS_CAN0]
#switch_pin: ^!hexa:SIGNAL6
#pause_on_runout: False
#debounce_delay: 1
#event_delay: 0.05
#runout_gcode:
#  #PAUSE # [pause_resume] is required in printer.cfg
#  M117 Filament switch runout
#  SET_GCODE_VARIABLE MACRO=CAN0 VARIABLE=filament_consumed VALUE=1
#insert_gcode:
#  M117 Filament switch inserted
#  SET_GCODE_VARIABLE MACRO=CAN0 VARIABLE=filament_consumed VALUE=0

[filament_motion_sensor filament_sensor_T0]
switch_pin: ^hexa:SIGNAL5
detection_length: 7 # accuracy of motion sensor 2.88mm
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder stuck
  #SET_GCODE_VARIABLE MACRO=CAN0 VARIABLE=filament_consumed VALUE=1
insert_gcode:
  M117 Filament encoder inserted
  #SET_GCODE_VARIABLE MACRO=CAN0 VARIABLE=filament_consumed VALUE=0

[delayed_gcode DISABLEFILAMENTSENSOR0] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
    #SET_FILAMENT_SENSOR SENSOR=SFS_CAN0 ENABLE=0 ; Put your filament sensor's name after SENSOR=
    SET_FILAMENT_SENSOR SENSOR=filament_sensor_T0 ENABLE=0

[gcode_macro CAN0]
variable_active: 0
variable_filament_consumed: 0
variable_hotend_fan_stop_count: 0 # counter for checking if hotend fan stalled
variable_hotend_fan_min_rpm: 1500 # minimum rpm the hotend can have before fan stall is triggered
gcode:
  {% if printer.toolhead.homed_axes != "xyz" %}
    { action_respond_info("Please home XYZ first") }
  {% else %}
    _TOOLCHANGER_DISABLE_FILAMENT_SENSORS
    SET_GCODE_VARIABLE MACRO=CAN0 VARIABLE=active VALUE=1
    ACTIVATE_EXTRUDER EXTRUDER=extruder
    SELECT_TOOL T=0
  {% endif %}

[gcode_macro T0]
variable_realtool: "CAN0"
variable_backuptool: "T1"
variable_color: ""
gcode:
  {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}
  {% set min_z = 0|float  %}
  {% set cur_z = printer.toolhead.position[2]|float %}
  {% set ex = printer.toolhead.extruder %}
  {% set state = printer.print_stats.state %}
  {% set temp = printer[ex].temperature|float %}
  #G0 Z{ [cur_z+5.0, max_z]|min }
  {% set consumed = printer["gcode_macro " ~ realtool].filament_consumed|int %}
  {% if consumed and backuptool %}
    { action_respond_info(realtool ~ " empty loading backup") }
    {backuptool}
    PURGE
    CLEAN_NOZZLE
  {% else %}
    { action_respond_info("Switching to " ~ realtool) }
    {realtool}
  {% endif %}

  {% if state == 'printing' and temp >= 150 %}
    CLEAN_NOZZLE_ONCE_PER_TOOL
  {% else %}
    RESPOND TYPE=echo MSG="Skip nozzle cleaning"
  {% endif %}


