## Toolchanger fan stall detect (tachometer/rpm):
# Written by: MikeyMike (github: MikeYankeeOscarBeta) (Discord: dubiousmnemonic)
# Original single hotend fan rpm macro written by: alch3my#9819
# link to original: https://github.com/AndrewEllis93/Print-Tuning-Guide/blob/main/macros/fan_tach_monitor.cfg

# Requires a 3-wire fan with tachometer_pin defined. https://www.klipper3d.org/Config_Reference.html#heater_fan
# The tach wire can be connected to a spare endstop pin. 
# Depending on what board you connect it to you might need to set pullup (^) on the tach pin (example: tachometer_pin: ^P1.29)

# Klipper Docs for DELAYED_GCODE https://www.klipper3d.org/Command_Templates.html#delayed-gcodes
# & UPDATE_DELAYED_GCODE: https://www.klipper3d.org/G-Codes.html#update_delayed_gcode

# Monitoring loop. Begins at Klipper start.

[delayed_gcode CHECK_ALL_FANS] ## starts the hotend fan check
initial_duration: 1 # start automatically when klipper starts, comment out to not-autostart (if you want to start it manually instead)
gcode:
    HOTEND_FAN_CHECK
    UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS DURATION=3

[gcode_macro HOTEND_FAN_CHECK_CANCEL] ## cancels the check (stops checking fan rpm)
gcode:
    UPDATE_DELAYED_GCODE ID=CHECK_ALL_FANS DURATION=0 ## setting it to 0 cancels the pending gcode from executing

# Change max_consecutive_stops and hotend_fan_min_rpm per tool to your desired values.
[gcode_macro HOTEND_FAN_CHECK]
gcode:
    {% set max_consecutive_stops = 3 %}

    {% for tool_name in printer.toolchanger.tool_names %}
        {% set tn = tool_name.split(' ')[1] %}
        {% set tool = printer['tool ' + tn] %}
        {% set hotend_fan = namespace(name='') %}
        {% for item in printer if 'heater_fan ' in item and printer.configfile.config[item].heater == tool.extruder %}
            {% set hotend_fan.name = item %}
        {% endfor %}

        {% if hotend_fan.name != '' %}
            {% set hotend_fan_name = hotend_fan.name %}
            {% set rpm = printer[hotend_fan_name].rpm|float %}
            {% set he_target = printer[tool.extruder].target|float %}
            {% set he_temp = printer[tool.extruder].temperature|float %}
            {% set fan_on_temp = printer['configfile'].settings[hotend_fan_name|string|lower].heater_temp|float %}
            {% set hotend_fan_stop_count = printer["gcode_macro "+tn].hotend_fan_stop_count|default(0)|int %}
            {% set hotend_fan_min_rpm = printer["gcode_macro "+tn].hotend_fan_min_rpm|default(0)|int %}

            {% if hotend_fan_min_rpm > 0 %}
                {% if (he_target >= fan_on_temp) and (rpm < hotend_fan_min_rpm) and (he_temp >= fan_on_temp) %}
                    SET_GCODE_VARIABLE MACRO={tn} VARIABLE=hotend_fan_stop_count VALUE={hotend_fan_stop_count + 1}
                    M118 WARNING: Fan stoppage on {tn} detected ({hotend_fan_stop_count+1}/{max_consecutive_stops}). ##DONE?: add tool name to the error message
                    M400
                    {% if printer["gcode_macro "+tn].hotend_fan_stop_count|int >= max_consecutive_stops-1 %}
                        FAN_STOPPAGE_ROUTINE
                    {% endif %}
                {% else %}
                    SET_GCODE_VARIABLE MACRO={tn} VARIABLE=hotend_fan_stop_count VALUE=0 ## DONE?: check the toolname macro instead (AVR0, AVR1, etc)
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}

# Insert the gcode that you want to run when a fan stoppage is detected.
# This runs every ~3 seconds until the stop conditions are cleared and the user resumes print
[gcode_macro FAN_STOPPAGE_ROUTINE]
gcode:
    # If not already paused
    #{% if printer['pause_resume'].is_paused|int == 0 %}
    {% if not printer.pause_resume.is_paused %}
        M117 !!ERROR: FAN STOPPAGE ON TOOL: {tn}!!
        M118 FAN STOPPAGE DETECTED. PAUSING...
        # TODO: figure out how to pause properly and save tool temperatures so they can be re-set once resumed
        #PAUSE
        #_TOOLCHANGER_CRASH_PAUSE  ## 
        # Turn off all hotends.
        # TODO: !! Don't forget to check if hotend gets turned back on before resume. !!
        {% set temps = [] %}
        SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_PAUSE VARIABLE=crashed VALUE=1
        SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_RESUME VARIABLE=active_tool VALUE={printer.tool_probe_endstop.active_tool_number}
        {% for tool_nr in printer.toolchanger.tool_numbers %}
            {% set toolname = printer.toolchanger.tool_names[tool_nr] %}
            {% set extruder = printer[toolname].extruder %}
            {% set temp = printer[extruder].target|default(0.0)|float %}
            {% set temps = temps.append(temp) %}
            M104 T{tool_nr} S0
        {% endfor %}
        SET_GCODE_VARIABLE MACRO=_TOOLCHANGER_CRASH_RESUME VARIABLE=tool_temps VALUE='{temps}'
        
        PAUSE
        M117 paused
    {% endif %}
